<style>
    .column-1 {
      float: left;
      width: 15%;
      padding: 10px;
      height: 100px;
    }
    .column-2 {
      float: left;
      width: 70%;
      padding: 10px;
      height: 100px;
    }
    .column-3 {
      float: left;
      width: 15%;
      padding: 10px;
      height: 100px;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
</style>
    
<section>
    <div class="column-1" >
       
      </div>
      <div class="column-2" >
        
      </div>
      <div class="column-3">
       
      </div>

</section>

      