
<%- include("partials/header") %>
<title>Home</title>
<style>
    .home-h1-up {
        text-align: center;
    }
    .bg, h1, h3{
        font-family: 'Kanit', sans-serif;
    }
</style>
<div class="bg">
    <br><br><br><br>
    <div class="container">
    </div>
    <%- include imageslide %>
    <br>
    <h1  style="text-align: center;">
        บทความ
    </h1>
    <h3 style="text-align: center;">
        เกี่ยวกับอาชีพที่น่าสนใจ
    </h3>
<div class="home-h1-up">
    <br><br>
    <div class="row" >
        
        <h1></h1>
        <div class="col-md-4">
            <img src="https://img.kapook.com/u/wanchalerm/Work_2.jpg"  class="rounded-circle w3-center w3-animate-zoom" width="200" height="200">
        </div>
        <div class="col-md-4">
            <img src="https://img.kapook.com/u/wanchalerm/Work_3.jpg"  class="rounded-circle w3-center w3-animate-zoom" width="200" height="200">
        </div>
        <div class="col-md-4">
            <img src="https://img.kapook.com/u/wanchalerm/Work_4.jpg"  class="rounded-circle w3-center w3-animate-zoom" width="200" height="200">
        </div>
        <h1></h1>
        
   </div>
   <br><br><br>
</div>
</div>

<%- include home-layout%>



<%-  include("partials/footer") %>




