


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    

    <div class="carousel-inner">
        
      <div class="carousel-item active">
        <img src="https://previews.123rf.com/images/belchonock/belchonock1510/belchonock151001740/46468433-teacher-hand-writing-grammar-sentences-on-blackboard-background.jpg" class="d-block w-100"height="400">
        <div class="container">
            <div class="content" style=" position: absolute; bottom: 0;color: white;height: 200px;">
              <h1 class="w3-animate-top">การเป็นครูผู้ให้</h1>
              <p class="w3-animate-top"></p>
              
            </div>
          </div>
    </div>
      <div class="carousel-item">
        <img src="https://sites.google.com/site/webjobthai/_/rsrc/1570000192506/graphic-design/%E0%B8%AD%E0%B8%B2%E0%B8%8A%E0%B8%B5%E0%B8%9E%E0%B8%99%E0%B8%B1%E0%B8%81%E0%B8%AD%E0%B8%AD%E0%B8%81%E0%B9%81%E0%B8%9A%E0%B8%9A%E0%B8%81%E0%B8%A3%E0%B8%B2%E0%B8%9F%E0%B8%9F%E0%B8%B4%E0%B8%81.jpeg" class="d-block w-100"height="400">
        <div class="container">
            <div class="content" style=" position: absolute; bottom: 0;color: white;height: 200px;">
              <h1 class="w3-animate-top">แนวทางสู่การออกแบบ</h1>
              <p class="w3-animate-top"></p>
              
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <img src="https://f.ptcdn.info/166/066/000/pyilbo7q5ig2J2ZWtkb-o.jpg" class="d-block w-100"height="400">
        <div class="container">
            <div class="content" style=" position: absolute; bottom: 0;color: white;height: 200px;">
              <h1 class="w3-animate-top">นักบินท่องฟ้า</h1>
              <p class="w3-animate-top"></p>
              
            </div>
          </div>
      </div>
    </div>


</div>


  