<%- include("partials/header") %>
<div class="firstbg">

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><a href="/home" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">เข้าสู่เว็ปไซด์</a><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  
  
</div>  
<style>
  .firstbg{
    text-align: center
  }
  .firstbg{
    background-image: linear-gradient(27deg,#85cdca 50%,#dae1e7 50%);
  }
</style>


<%-  include("partials/footer") %>

