<%- include("partials/header") %>
<link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">    
<title>LOGIN</title>
<body>

  <div class="bgimg">
    <div class="centerdiv">
        <img src=https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/8_avatar-128.png id="profilepic">
        <h2>user login</h2>
        <form class="form-group" action="/users/login" method="post">
            <div class="form-group">
              <input type="text" name="username" class="inputbox" placeholder="๊Username">
            </div>
            
            <br>

            <div class="form-group">
              <input type="password" name="password" class="inputbox" placeholder="Password">
            </div>
            <br>
            <div>
              <button type ="submit"> LOGIN </button>
            </div>
            <div class="regist">
              <a href="/users/register" style="color: White;float: left;"> Sign up</a>
            </div>
        </form>
    </div>
  </div>
</body>







<style>

  *{
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
  }
  .bgimg{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(27deg,#85cdca 50%,#e8a87c 50%);
  }
  .centerdiv{
    width: 350px; 
    height: 400px;
    position: absolute; 
    top: 50%;
    left: 50%;
    background-color: red;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(27deg,#e8a87c 50%,#85cdca 50% 50%);
    box-shadow:0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
  }
  #profilepic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    top: -60px;
    left: calc( (350px - 120px) / 2);
  }
  h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    word-spacing: 10px;
    font-family: 'Bitter', serif;
    margin-top: -50px;
    margin-bottom: 50px;
    text-shadow: -2px 2px 1px #e8a87c;

  }
  .inputbox{
    width: calc(100% - 40px);
    height: 30px;
    display: block;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
  }

  ::placeholder{
    letter-spacing: 2px;
    color: black;
  }
  button{
    width: calc(50% - 40px);
    height: 30px;
    display: block;
    color: black;
    background-color:white ;
    border: none;
   position: fixed;
   left: 30%;
   top: 70%;
  }
  .regist{
    position: fixed;
    left: 42%;
    top: 80%;
  }



</style>

<%-  include("partials/footer") %>