<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <footer class="page-footer font-small cyan darken-2 pt-4" id="footer">
        <div class="footer-copyright text-center py-3">Contact us:
          <a href="http://localhost:3000/home"> BB.com</a><br>
          <a href="https://www.facebook.com/bas.thanapon.39" <i class="fab fa-facebook-square fa-2x"></i></a>
          <a href="https://www.instagram.com/_bh_sry/" <i class="fab fa-instagram-square fa-2x"></i></a>
          <a href="https://twitter.com/login" <i class="fab fa-twitter-square fa-2x"></i></a>
          <a href="https://www.reddit.com/user/beckhamwon"<i class="fab fa-reddit-square fa-2x"></i></a>
        </div>
      </footer>
      
   </body>
</html>